html {
  box-sizing: border-box; }

*:before, *:after {
  box-sizing: inherit; }

body {
  margin: 0; }

h1 {
  font-size: 3.125rem;
  line-height: 1; }

h2 {
  font-size: 1.25rem; }

h1, h2, h3, h4, h5, h6,
p, ul, ol {
  margin-top: 0; }

img {
  max-width: 100%; }

figure {
  margin: 0; }

figure img {
  display: block; }

input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
  margin-bottom: 1rem; }

button {
  font-family: inherit;
  cursor: pointer;
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  font-size: 0.6875rem;
  font-weight: 500;
  letter-spacing: 0.2em; }
  button::-moz-focus-inner {
    border: 0;
    padding: 0; }
  button svg {
    width: 0.3rem;
    padding-bottom: 2px; }
