html {
  box-sizing: border-box; }

*:before, *:after {
  box-sizing: inherit; }

body {
  font-family: 'ATC Arquette';
  line-height: 1.75;
  margin: 0; }

h1, h2, h3, h4, h5, h6 {
  color: #000;
  font-weight: 500; }

h1 {
  font-size: 3.125rem;
  line-height: 1; }

h2 {
  font-size: 1.25rem; }

h1, h2, h3, h4, h5, h6,
p, ul, ol {
  margin-top: 0; }

img {
  max-width: 100%; }

figure {
  margin: 0; }

figure img {
  display: block; }

input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
  margin-bottom: 1rem; }

button {
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  font-size: 0.6875rem;
  font-weight: 500;
  letter-spacing: 0.2em; }
  button::-moz-focus-inner {
    border: 0;
    padding: 0; }

.spacer {
  margin-bottom: 4rem; }

.flex {
  display: flex; }

.f-jc {
  justify-content: space-between; }

.category {
  color: #999e9e;
  display: inline-block;
  font-size: 0.75rem;
  letter-spacing: 1.6px;
  line-height: 2.333;
  text-transform: uppercase; }
  .category > strong {
    color: #1f1e1a; }

.date {
  color: #999e9e;
  display: inline-block;
  font-family: "Roboto Mono", Courier, monospace;
  font-size: 0.75rem;
  line-height: 2.333; }

.meta {
  max-width: 620px;
  margin: 4rem auto 2rem; }

h1 {
  font-size: 4.5rem;
  line-height: 1.083;
  max-width: 620px;
  padding-right: 1.25rem;
  margin: 2rem auto; }

h2 {
  font-size: 1.5rem;
  letter-spacing: 0.2px;
  margin-bottom: 16px; }

p {
  margin-bottom: 28px; }

h2,
h3,
h4,
h5,
h6,
figcaption,
p {
  max-width: 625px;
  margin-left: auto;
  margin-right: auto; }

.container-625 {
  max-width: 625px;
  margin-left: auto;
  margin-right: auto; }

figcaption {
  font-size: .8125rem;
  color: #999e9e;
  margin-top: 12px;
  margin-bottom: 50px; }

.tags-list {
  color: #999e9e;
  list-style: none;
  margin-left: 0;
  margin-bottom: 50px;
  font-size: .75rem;
  letter-spacing: 1.6px; }
  .tags-list li {
    display: inline-block; }
  .tags-list a {
    color: inherit;
    font-family: "Roboto Mono", Courier, monospace;
    text-transform: uppercase;
    text-decoration: none; }
