@charset "UTF-8";
html {
  box-sizing: border-box; }

*:before, *:after {
  box-sizing: inherit; }

body {
  font-family: 'ATC Arquette';
  line-height: 1.75;
  margin: 0; }

h1, h2, h3, h4, h5, h6 {
  color: #000;
  font-weight: 500; }

h1 {
  font-size: 3.125rem;
  line-height: 1; }

h2 {
  font-size: 1.25rem; }

h1, h2, h3, h4, h5, h6,
p, ul, ol {
  margin-top: 0; }

figure {
  margin: 0; }

img {
  max-width: 100%; }

figure img {
  display: block; }

label {
  display: block;
  font-size: .625rem;
  font-weight: 600;
  letter-spacing: .9px;
  margin-bottom: 6px;
  text-transform: uppercase; }

input,
select,
button,
textarea {
  box-sizing: border-box;
  display: block;
  font-family: inherit;
  font-size: 1rem;
  line-height: 1.75;
  margin-bottom: 24px;
  width: 100%; }

input,
button,
textarea {
  border: 1px solid #d6d6d6;
  border-radius: 4px;
  padding: 8px 12px; }

input[type="submit"],
input[type="reset"],
button {
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 1.25rem;
  letter-spacing: 0.18px;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  border: none; }
  input[type="submit"]::-moz-focus-inner,
  input[type="reset"]::-moz-focus-inner,
  button::-moz-focus-inner {
    border: 0;
    padding: 0; }

hr {
  opacity: .3; }

.spacer {
  margin-bottom: 4rem; }

.flex {
  display: flex; }

.f-jc {
  justify-content: space-between; }

.mb0 {
  margin-bottom: 0; }

.button {
  background-color: #ffda48; }

.post h2,
.post h3,
.post h4,
.post h5,
.post h6,
.post p,
.post figcaption {
  max-width: 625px;
  margin-left: auto;
  margin-right: auto; }

.post h1 {
  font-size: 4.5rem;
  line-height: 1.083;
  max-width: 620px;
  padding-right: 1.25rem;
  margin: 32px auto 68px; }

.post h2 {
  font-size: 1.5rem;
  letter-spacing: 0.2px;
  margin-bottom: 22px; }

.post p {
  margin-bottom: 28px; }

.post figcaption {
  font-size: .8125rem;
  color: #999e9e;
  margin-top: 8px;
  margin-bottom: 49px; }

.post footer:before {
  content: "—";
  display: block;
  margin-bottom: 22px; }

.container-625 {
  max-width: 625px;
  margin-left: auto;
  margin-right: auto; }

.category {
  color: #999e9e;
  display: inline-block;
  font-size: 0.75rem;
  letter-spacing: 1.6px;
  line-height: 2.333;
  text-transform: uppercase; }
  .category > strong {
    color: #1f1e1a; }

.date {
  color: #999e9e;
  display: inline-block;
  font-family: "Roboto Mono", Courier, monospace;
  font-size: 0.75rem;
  line-height: 2.333; }

.meta {
  max-width: 620px;
  margin: 4rem auto 2rem; }

.tags-list {
  color: #999e9e;
  font-size: .75rem;
  letter-spacing: 1.6px;
  list-style: none;
  margin-bottom: 50px;
  padding-left: 0; }
  .tags-list li {
    display: inline-block;
    margin-right: 0.5rem; }
    .tags-list li:after {
      content: ","; }
    .tags-list li:last-child:after {
      content: none; }
  .tags-list a {
    color: inherit;
    font-family: "Roboto Mono", Courier, monospace;
    text-decoration: none;
    text-transform: uppercase;
    transition: opacity .3s ease;
    opacity: 0.7; }
    .tags-list a:hover {
      opacity: 1; }

.post-form {
  margin-left: auto;
  margin-right: auto;
  max-width: 871px;
  padding: 66px 78px 75px; }
  .post-form h3 {
    font-size: 1.5rem;
    margin-bottom: 34px; }

.post-content-fields {
  border: 1px solid #999e9e;
  border-radius: 4px;
  padding: 8px 12px;
  margin-bottom: 24px; }

.post-title,
.post-content {
  border: none;
  margin-bottom: 0; }

.post-title {
  font-size: 1.5rem;
  line-height: 1.3;
  padding-right: 30%; }

.app-bar {
  display: flex;
  border-right: 1px solid #e6e6e6;
  max-width: 4.25rem;
  min-height: 100vh;
  position: relative; }

.app-bar__button {
  background-color: transparent;
  left: 0;
  padding: 1rem 0;
  position: absolute;
  right: 0;
  transition: opacity 0.3s ease; }

.menu-button {
  opacity: 0.8;
  top: 0; }
  .menu-button:hover {
    opacity: 1; }

.keyboard-button {
  bottom: 0;
  opacity: 0.2; }
  .keyboard-button:hover {
    opacity: 0.8; }

.app-title {
  font-size: 1rem;
  font-weight: 600;
  margin: auto;
  writing-mode: sideways-lr; }

.app-bar-content {
  background-color: #1f1e1a;
  bottom: 0;
  color: #fff;
  left: 100%;
  position: absolute;
  top: 0;
  width: 336px; }
  .app-bar-content h2, .app-bar-content h3, .app-bar-content h4,
  .app-bar-content button {
    color: inherit; }
  .app-bar-content button {
    background-color: transparent;
    margin-bottom: 0; }

.app-bar__filter {
  background-color: #1f1e1a;
  display: flex;
  height: 56px; }

.app-bar__filter__button {
  background-color: #292825;
  border-radius: 0;
  height: 56px;
  margin: 0;
  width: 56px; }

.app-bar__filter__dropdown {
  margin-bottom: 0; }

/* class applies to select element itself, not a wrapper element */
.select-css {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #292825;
  /* note: bg image below uses 2 urls. The first is an svg data uri for the arrow icon, and the second is the gradient.
    for the icon, if you want to change the color, be sure to use `%23` instead of `#`, since it's a url. You can also swap in a different svg icon or an external image reference

  */
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='7' viewBox='0 0 11 7'%3E%3Cpolyline fill='none' stroke='%23999' stroke-width='2' points='248 25.973 252.406 30.379 256.893 25.893' transform='translate(-247 -25)'/%3E%3C/svg%3E"), linear-gradient(to bottom, #292825 0%, #292825 100%);
  background-repeat: no-repeat, repeat;
  /* arrow icon position (1em from the right, 50% vertical) , then gradient position*/
  background-position: right 1rem top 50%, 0 0;
  /* icon size, then gradient */
  background-size: .65rem auto, 100%;
  border: 1px solid #292825;
  border-left: 1px solid #1f1e1a;
  border-radius: 0;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  box-sizing: border-box;
  color: #999999;
  display: block;
  font-size: 11px;
  font-family: sans-serif;
  font-weight: 500;
  letter-spacing: 2.4px;
  line-height: 1.3;
  margin: 0;
  max-width: 100%;
  /* useful when width is set to anything other than 100% */
  padding: .6rem 1.4rem .5rem .8rem;
  text-transform: uppercase;
  width: 100%; }

/* Hide arrow icon in IE browsers */
.select-css::-ms-expand {
  display: none; }

/* Hover style */
.select-css:hover {
  border-color: #1f1e1a; }

/* Focus style */
.select-css:focus {
  border-color: #292825;
  /* It'd be nice to use -webkit-focus-ring-color here but it doesn't work on box-shadow */
  box-shadow: 0 0 1px 3px rgba(59, 153, 252, 0.7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #999999;
  outline: none; }

/* Set options to normal weight */
.select-css option {
  font-weight: normal;
  font-size: 1rem; }

/* Support for rtl text, explicit support for Arabic and Hebrew */
*[dir="rtl"] .select-css, :root:lang(ar) .select-css, :root:lang(iw) .select-css {
  background-position: left .7rem top 50%, 0 0;
  padding: .6rem .8rem .5rem 1.4rem; }

/* Disabled styles */
.select-css:disabled, .select-css[aria-disabled=true] {
  color: graytext;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22graytext%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"), linear-gradient(to bottom, #292825 0%, #292825 100%); }

.select-css:disabled:hover, .select-css[aria-disabled=true] {
  border-color: #aaa; }

.app-bar-content .app-bar-content {
  overflow: scroll; }

.category-bucket-header {
  padding: 110px 21px 20px; }
  .category-bucket-header .bucket-title {
    margin-bottom: 0; }

.bucket-title {
  font-size: 1.625rem; }

.thumbnail {
  background-color: #24231e;
  height: 80px;
  width: 80px; }

.content-meta {
  font-family: "Roboto Mono";
  font-size: 0.75rem;
  text-transform: uppercase;
  color: #999999; }

.list {
  list-style: none;
  margin: 0; }
  .list > li {
    cursor: pointer;
    transition: background-color .3s ease; }

.list__content {
  display: flex;
  flex-direction: column-reverse; }

.list--root-buckets {
  padding: 1rem; }
  .list--root-buckets > li {
    background-color: #292825;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 1rem;
    padding: 0.75rem 1rem 1rem; }
    .list--root-buckets > li:last-child {
      margin-bottom: 0; }
    .list--root-buckets > li:hover {
      background-color: #302f2d; }

.category-list__title {
  margin-bottom: 0; }

.category-list__date {
  letter-spacing: 0.3px;
  margin-bottom: 0; }

.category-list__meta {
  display: flex;
  justify-content: end; }

.category-list__extras {
  background-color: transparent;
  padding: 0 0 0 13px;
  margin: 0 0 0 5px;
  width: auto; }

.list--root-buckets .most-recent {
  background-color: #fff;
  color: #1f1e1a;
  position: relative; }
  .list--root-buckets .most-recent:hover {
    background-color: #fff; }
  .list--root-buckets .most-recent:before {
    background-color: #ffda48;
    border-radius: 5px 0 10px 0;
    content: "Most Recent";
    display: inline-block;
    font-family: "Roboto Mono";
    font-weight: bold;
    font-size: .5625rem;
    left: 0;
    letter-spacing: .63px;
    padding: 4px 9px;
    position: absolute;
    text-transform: uppercase;
    top: 0; }
  .list--root-buckets .most-recent .category-list__meta,
  .list--root-buckets .most-recent .category-list__extras g {
    color: #9b9e9e;
    fill: #9b9e9e; }

.list--category-posts {
  padding: 0; }
  .list--category-posts > li {
    border: 1px solid #0d0c0b;
    display: flex;
    padding: 16px 21px; }
    .list--category-posts > li:hover {
      background-color: #292825; }
  .list--category-posts h4 {
    font-size: 0.875rem;
    line-height: 1.125rem; }
  .list--category-posts .thumbnail {
    margin-right: 17px; }

/*# sourceMappingURL=styles.css.map */