.app-bar {
  display: flex;
  border-right: 1px solid #e6e6e6;
  max-width: 4.25rem;
  min-height: 100vh;
  position: relative;
}
.app-bar__button {
  background-color: transparent;
  left: 0;
  padding: 1rem 0;
  position: absolute;
  right: 0;
  transition: opacity 0.3s ease;
}
.menu-button {
  opacity: 0.8;
  top: 0;
  &:hover {
    opacity: 1;
  }
}
.keyboard-button {
  bottom: 0;
  opacity: 0.2;
  &:hover {
    opacity: 0.8;
  }
}

.app-title {
  font-size: 1rem;
  font-weight: 600;
  margin: auto;
  writing-mode: sideways-lr;
}
