.app-bar {
  display: flex;
  border-right: 1px solid #e6e6e6;
  max-width: 4.25rem;
  min-height: 100vh;
  position: relative;
}
.app-bar__button {
  background-color: transparent;
  left: 0;
  padding: 1rem 0;
  position: absolute;
  right: 0;
  transition: opacity 0.3s ease;
}
.menu-button {
  opacity: 0.8;
  top: 0;
  &:hover {
    opacity: 1;
  }
}
.keyboard-button {
  bottom: 0;
  opacity: 0.2;
  &:hover {
    opacity: 0.8;
  }
}

.app-title {
  font-size: 1rem;
  font-weight: 600;
  margin: auto;
  writing-mode: sideways-lr;
}

.app-bar-content {
  position: absolute;
  left: 100%;
}

.category-list {
  background-color: #1f1e1a;
  padding: 0 1rem;
  > li {
    background-color: #302f2d;
    border-radius: 5px;
    color: #fff;
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 1rem;
    padding:  0.75rem 1rem 1rem;
    width: 287px;
  }
  h2 {
    color: inherit;
  }
}

.category-list__title {
  margin-bottom: 0;
}
