html {
  box-sizing: border-box;
}
*:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'ATC Arquette', Helvetica, Arial;
  line-height: 1.75;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

h1 {
  font-size: 3.125rem;
  line-height: 1;
}

h1, h2, h3, h4, h5, h6,
p, ul, ol {
  margin-top: 0;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
}

svg {
  fill: currentColor;
}

figure img {
  display: block;
}

// Form styles
// ----------------------------------------
label {
  display: block;
  font-size: .625rem;
  font-weight: 600;
  letter-spacing: .9px;
  margin-bottom: 6px;
  text-transform: uppercase;
}


input,
select,
button,
textarea {
  box-sizing: border-box;
  color: inherit;
  display: block;
  font-family: inherit;
  font-size: 1rem;
  line-height: 1.75;
  margin-bottom: 24px;
  // width: 100%;
}

input,
button,
textarea {
  border: 1px solid $grey;
  border-radius: 4px;
  padding: 8px 12px;
}

input[type="submit"],
input[type="reset"],
button {
  padding-left: 32px;
  padding-right: 32px;
  font-size: 1.25rem;
  letter-spacing: 0.18px;
  // button reset
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  border: none;
  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}

hr {
  opacity: .3;
}

kbd {
  background-color: #f2f2f2;
  border-radius: 3px;
  padding: 3px 9px;
}
