$size-2: 8px;
$size-3: 16px;



.layout-app-container {
  display: grid;
  grid-template-columns: 4.25rem 1fr;
  height: 100vh;
  > main {
    height: 100vh;
    overflow: scroll;
  }
}




.spacer {
  margin-bottom: 4rem;
}

.flex {
  display: flex;
}
.items-center {
  align-items: center;
}
.justify-between {
  justify-content: space-between;
}

.f-jc {
  justify-content: space-between;
}
