$size-2: 8px;
$size-3: 16px;



.layout-app {
  display: grid;
  grid-template-columns: 4.25rem 1fr;
  height: 100vh;
  overflow: hidden;
}
.app-main {
  height: 100vh;
  overflow: scroll;
  transition: transform .3s ease;
  .app-bar.is-active + & {
    transform: translateX(336px);
  }
}

.row {
  padding: 0 1rem;
}



.spacer {
  height: 4rem;
}

.flex {
  display: flex;
}
.items-center {
  align-items: center;
}
.justify-between {
  justify-content: space-between;
}

.f-jc {
  justify-content: space-between;
}
