
.pa2 { padding: $size-2; }
.pa3 { padding: $size-3; }
.pv2 {
  padding-top: $size-2;
  padding-bottom: $size-2;
}
.ph3 {
  padding-left: $size-3;
  padding-right: $size-3;
}
.pt3 {
  padding-top: $size-3;
}
.pb2 {
  padding-bottom: $size-2;
}

.mb0 {
  margin-bottom: 0;
}


.title-1 {
  font-family: $roboto;
  font-weight: 500;
  font-size: 13px;
  color: #4F4D48;
  letter-spacing: 0;
  text-transform: uppercase;
}
.title-2 {
  font-weight: 600;
  font-size: 0.75rem;
}


.bg-grey-200 { background-color: $grey-200; }
.bg-grey-400 { background-color: $grey-400; }
.bg-grey-600 { background-color: $grey-600; }
.bg-grey-800 { background-color: $grey-800; }

.white { color: $white; }
