$yellow: #ffda48;
$grey: #d6d6d6;
$white: #fff;

$grey-200: #292825;
$grey-400: #1F1E1A;
$grey-600: #141411;
$grey-800: #080706;

$sans-serif: "ATC Arquette";
$roboto: "Roboto Mono";
$monospace: $roboto;
