html {
  box-sizing: border-box;
}
*:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'ATC Arquette';
  line-height: 1.75;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  color: #000;
  font-weight: 500;
}

h1 {
  font-size: 3.125rem;
  line-height: 1;
}
h2 {
  font-size: 1.25rem;
}

h1, h2, h3, h4, h5, h6,
p, ul, ol {
  margin-top: 0;
}

img {
  max-width: 100%;
}

figure {
  margin: 0;
}

figure img {
  display: block;
}

input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
  margin-bottom: 1rem;
}

button {
  // button reset
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  background-color: transparent;
  border: none;
  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
  // custom
  text-transform: uppercase;
  font-size: 0.6875rem;
  font-weight: 500;
  letter-spacing: 0.2em;
  // svg {
  //   width: 0.3rem;
  //   padding-bottom: 2px;
  // }
}


.spacer {
  margin-bottom: 4rem;
}

.flex {
  display: flex;
}
.f-jc {
  justify-content: space-between;
}


@import "post";

