$yellow: #ffeb3e;
$yellow-hover: scale-color($yellow, $lightness:-22%);
$sticky-note-yellow: #fffacc;
$grey: #a0a0a0;

$border-radius: 5px;

html {
  box-sizing: border-box;
}
*:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'ATC Arquette';
  line-height: 1.75;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

h1 {
  font-size: 3.125rem;
  line-height: 1;
}

h1, h2, h3, h4, h5, h6,
p, ul, ol {
  margin-top: 0;
}

img {
  max-width: 100%;
}

figure {
  margin: 0;
}

figure img {
  display: block;
}


button {
  // button reset
  font-family: inherit;
  // font-size: inherit;
  cursor: pointer;
  background-color: transparent;
  border: none;
  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
  // custom
  text-transform: uppercase;
  font-size: 0.6875rem;
  font-weight: 500;
  letter-spacing: 0.2em;
  svg {
    width: 0.3rem;
    padding-bottom: 2px;
  }
}

.icon {
  display: inline-block;
}
.rotate-90 {
  transform: rotate(-90deg);
}


.flex {
  display: flex;
  .end {
    margin-left: auto;
  }
}

.section {
  padding-top: 2rem;
  padding-bottom: 2rem;
}


.button {
  background-color: $yellow;
  line-height: 3.8181;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  border-radius: $border-radius;
  transition: background-color 0.3s ease;
  will-change: background-color;
  &:hover {
    background-color: $yellow-hover;
  }
  &.alternate {
    background-color: #f5f4f2;
    &:hover {
      background-color: scale-color(#f5f4f2, $lightness:-5%);
    }
  }
}


.multicolumn--2 {
  column-count: 2;
}


// Top Bar
.top-bar {
  border-bottom: 1px solid $grey;
}





.lead {
  font-size: 1.5rem;
  font-weight: 500;
}

.metadata {
  color: $grey;
  font-family: 'Roboto Mono';
  font-size: 0.75rem;
  line-height: 1.5;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  a {
    color: inherit;
    text-decoration: none;
  }
}

%metadata-list {
  display: flex;
  list-style: none;
  padding-left: 0;
  margin-left: 0;
  > li {
    &:last-child {
      padding-right: 0;
      margin-right: 0;
      &:after {
        content: none;
      }
    }
  }
}

.metadata--post_details_list {
  @extend %metadata-list;
  > li {
    position: relative;
    padding-right: 2.5rem;
    margin-right: 0.5rem;
    &:after {
      content: "\0a0";
      display: block;
      height: 1px;
      width: 2rem;
      background-color: $grey;
      position: absolute;
      right: 0;
      top: 0.6rem;
    }
  }
}
.metadata--tags_list {
  @extend %metadata-list;
  flex-wrap: wrap;
  > li {
    padding-right: 0.5rem;
    margin-right: 0.5rem;
    &:after {
      content: ","
    }
  }
}

.note {
  font-family: 'Roboto Mono';
  font-size: 0.6875rem;
  line-height: 1.275;
  background-color: $sticky-note-yellow;
  padding: 1rem 1rem 0.5rem;
  margin-bottom: 1rem;
  max-width: 10rem;
  min-height: 10rem;
  ul {
    padding-left: 1rem;
  }
  ol {
    padding-left: 1.5rem;
  }
}


.post--with_notes {
  display: flex;
  .article-notes {
    flex-basis: -moz-available;
  }
}

.article-content,
.article-notes {
  padding-right: 1rem;
}


.button--new-post {
  display: block;
  height: 4rem;
  width: 4rem;
  background-color: $yellow;
  position: relative;
  transition: background-color 0.3s ease;
  will-change: background-color;
  &:before,
  &:after {
    content: "\0a0";
    display: block;
    width: 2px;
    height: 26px;
    background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
  }
  &:before {
    transform: translateY(-50%) rotate(90deg);
  }
  &:after {
    transform: translateY(-50%);
  }
  span {
    visibility: hidden;
  }
  &:hover {
    background-color: $yellow-hover;
  }
}


.modal {
  position: fixed;
  z-index: 100;
  top: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  background-color: rgba(#000, 0.4);
}
.modal__content {
  position: relative;
  margin: auto;
  background-color: #fff;
  padding: 6rem 4.5rem 3rem;
  border-radius: $border-radius;
  .close-button {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 2rem;
    padding: 0.5rem;
    // color: #eae9e8;
    opacity: 0.1;
    transition: opacity 0.3s ease;
    &:hover {
      opacity: 1;
    }
  }
}

.new-content-modal__option {
  text-align: center;
  padding: 3rem 2.375rem;
  border: 1px solid #ebeae8;
  border-radius: $border-radius;
  margin: 0 0.9375rem 3.25rem;
  cursor: pointer;
  &:hover {
    border-color: $yellow;
    // border-width: 2px;
  }
}

.new-content-modal__option__icon-container {
  background-color: #f6f5f3;
  width: 10rem;
  height: 10rem;
  border-radius: 10rem;
  display: flex;
  justify-content: center;
}


.actions {
  display: flex;
  justify-content: center;
  .button {
    margin: 0 0.5rem;
  }
}

.cancel-button {
  background-color: #f5f4f2;
  opacity: 0.2;
  transition: opacity 0.3s ease;
  &:hover {
    background-color: #f5f4f2;
    opacity: 1;
  }
}
