html {
  box-sizing: border-box;
}
*:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'ATC Arquette';
  line-height: 1.75;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  color: #000;
  font-weight: 500;
}

h1 {
  font-size: 3.125rem;
  line-height: 1;
}
h2 {
  font-size: 1.25rem;
}

h1, h2, h3, h4, h5, h6,
p, ul, ol {
  margin-top: 0;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
}

figure img {
  display: block;
}


button {
  // button reset
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  background-color: transparent;
  border: none;
  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}

hr {
  opacity: .3;
}

.spacer {
  margin-bottom: 4rem;
}

.flex {
  display: flex;
}
.f-jc {
  justify-content: space-between;
}


@import "post";
@import "new-category-post";

