.post-card {
  border: 1px solid $grey-800;
  padding: 16px 21px;
  position: relative;
  transition: background-color .3s ease;
  .card-extras {
    position: absolute;
    top: 0;
    right: 0;
  }
  &:hover {
    background-color: $grey-200;
  }
}

.post-card__content {
  color: #999999;
  display: flex;
  font-family: $monospace;
  font-size: 0.75rem;
  text-decoration: none;
  text-transform: uppercase;
  img {
    display: block;
    height: auto;
    margin-right: 1rem;
    width: 80px;
  }
  div {
    display: flex;
    flex: 1;
    flex-direction: column-reverse;
  }
  h3 {
    color: $white;
    font-size: 0.875rem;
    line-height: 1.125rem;
    margin-bottom: 0;
    text-transform: none;
  }
  p {
    margin-bottom: 0;
  }
}



// organism
li + li {
  .post-card {
    border-top: none;
  }
}
