extends base.pug

block styles
  style.
    .container {
      display: flex;
      height: 100vh;
      width: 100vw;
    }
    .container > div {
      margin: auto;
      text-align: center;
    }
    a {
      margin-right: 1rem;
    }

block body
    div
      h1 Notch
      a(href="kitchen-sink.html") Kitchen Sink
      a(href="post-page.html") Post Page
