doctype html
html(lang="en").no-js
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width,initial-scale=1")
    block title
      title Page title
      meta(name="description", content="Page description")
    link(rel="stylesheet", href="../css/notch.css")
    block styles
    //- required scripts
    //- <script src="../node_modules/@ckeditor/ckeditor5-build-classic/build/ckeditor.js"></script>
    //- script(src="../js/scripts.js")
  body
    .container
      block body
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores blanditiis tempore quod perferendis nihil aliquid, illum iure dolore ipsa alias in fugiat sapiente molestias dignissimos nemo voluptas, quaerat non totam.
    //- secondary scripts
