doctype html
html(lang="en").no-js
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width,initial-scale=1")
    title Page title
    meta(name="description", content="Page description")
    link(rel="stylesheet", href="../css/styles.css")
  body
    .container
      header.flex.top-bar
        .start
          select
            option(value="all") All
        .middle
          a(href="#") Favorites
        .end
          button(type="button").button--new-post
            span Make a new post
      main#main-content

        //- h2 New Post
        .modal
          //- .new-content-modal
          .modal__content
            .actions
              .new-content-modal__option
                .new-content_modal__option__content
                  .new-content-modal__option__icon-container
                    img.icon(src="../icons/new-topic-folder-icon.svg", alt="", width="62")
                    img.shadow.folder-shadow(src="../icons/new-topic-folder-shadow-icon.svg", alt="", width="62")
                  button(type="button") New Topic
              .new-content-modal__option
                .new-content_modal__option__content
                  .new-content-modal__option__icon-container
                    img.icon(src="../icons/new-post-paper-icon.svg", alt="", width="46")
                    img.shadow.paper-shadow(src="../icons/new-post-paper-shadow-icon.svg", alt="", width="46")
                  button(type="button") New Post
            .actions
              button(type="button").button.alternate.cancel-button Cancel
              button(type="button").button Next <svg class="icon rotate-90" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 90 91"><polygon points="45 0 0 0 45 91 90 0 45 0" fill="#33312b"/></svg>
            button(type="button").close-button &times;

        .modal
          //- .new-content-modal
          .modal__content
            h2.text-center Add New Post
            form(action="#")
              input(type="text", placeholder="Enter title here")
              p [WYSIWYG goes here]
              input(type="text", placeholder="Tags")
            .actions
              button(type="button").button.cancel-button Cancel
              button(type="button").button Next <svg class="icon rotate-90" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 90 91"><polygon points="45 0 0 0 45 91 90 0 45 0" fill="#33312b"/></svg>

            button(type="button").close-button &times;


        article.post--with_notes.section
          .article-content
            h1 The Alternative Culture Heritage of Hipsters
            .metadata
              ul.metadata--post_details_list
                li
                  a(href="#") PHOTOGRAPHY (001)
                li
                  a(href="#") 05—15—2018
                li
                  a(href="#") #0203
            figure
              img(src="images/sample-img-1.jpg", alt="")
            p.lead Subtitle
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas posuere lectus dignissim, mattis neque in, maximus tellus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nullam non facilisis enim. Morbi nunc ipsum, pharetra et nisi id, viverra auctor lorem. Nunc vulputate neque at facilisis auctor.
            p Pellentesque mi augue, efficitur tempus ultrices eu, commodo quis felis. Morbi commodo volutpat odio, ut venenatis sapien pellentesque et. Proin posuere enim lorem, vel accumsan elit.
            .metadata
              ul.metadata--tags_list
                li
                  a(href="#Pescatarianism") #Pescatarianism
                li
                  a(href="#May") #May
                li
                  a(href="#2018") #2018
                li
                  a(href="#0203") #0203
                li
                  a(href="#Part_002") #Part 002
                li
                  a(href="#Hipsters") #Hipsters
                li
                  a(href="#Alternative") #Alternative
                li
                  a(href="#Fish") #Fish
                li
                  a(href="#Diet") #Diet
                li
                  a(href="#Recipe") #Recipe
          .article-notes
            .note
              p #[strong (1) This is a Sticky Note.] It’s where I can write out random notes, thoughts, ideas, blurbs, things to try, etc.
            .note
              p
                strong (2) The information could be presented in bullets
              ul
                li Like this
                li This
                li And this
            .note
              p
                strong (3) Or numbers
              ol
                li Like this
                li This
                li Or this
            .note
              p #[strong (4) It’s almost like annotation.] I find myself doing this a lot in my sketches, so it makes sense to have a version of it in Notch too.


        p
          <svg width="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 98.36 93.55"><polygon points="49.18 0 64.38 30.79 98.36 35.73 73.77 59.7 79.58 93.55 49.18 77.57 18.79 93.55 24.59 59.7 0 35.73 33.98 30.79 49.18 0" fill="#ccc"/></svg>
