extends base.pug

block body
  h1 Kitchen Sink

  hr

  h2 Colors
  .bg-grey-200.white.pa3
    p Grey 200
    p $grey-200
  .bg-grey-400.white.pa3
    p Grey 400
    p $grey-400
  .bg-grey-600.white.pa3
    p Grey 600
    p $grey-600
  .bg-grey-800.white.pa3
    p Grey 800
    p $grey-800

  .spacer

  h2 Post
  hr
  .spacer

  include components/post.pug

  .spacer

  h2 Category Post
  hr
  form.post-form(action="#")
    h3 20 April 2019

    .flex.f-jc
      div
        label(for="category") Category
        select#category
          option(value="1") Photography
          option(value="2") Lorem
          option(value="2") Ipsum
      div
        label(for="chapter") Chapter
        select#chapter
          option(value="1") 001
          option(value="2") Lorem
          option(value="2") Ipsum
      div
        label(for="month") Month
        select#month
          option(value="1") May
          option(value="2") June
          option(value="2") July
    div
      label(for="category-description") Category Description
      textarea#category-description(rows="4") Chapter 001 for Photography will be focused exclusively on film photography. This is my first time with film, so I’ll be learning the ins and the outs of the process of development as well as how to use the camera.
    div
      label(for="post-title") Post
      .post-content-fields
        //- if the .post-title content is long, the JS needs to update the rows attr
        textarea#post-title.post-title(rows="1", placeholder="Title")
        textarea#post-content.post-content(rows="6", placeholder="Text goes here...")
    div
      input(type="text", placeholder="#tags")
    div.flex.f-jc
      div
        input(type="reset", value="Close")
      div
        input(type="submit", value="Submit").button


  .spacer

  h2 Date Post
  hr
  form.post-form(action="#")
    h3 20 April 2019

    div
      label(for="post-title") Post
      .post-content-fields
        //- if the .post-title content is long, the JS needs to update the rows attr
        textarea#post-title.post-title(rows="1", placeholder="Title")
        textarea#post-content.post-content(rows="6", placeholder="Text goes here...")

    div
      input(type="text", placeholder="#tags")

    div.flex.f-jc
      div
        input(type="reset", value="Close")
      div
        input(type="submit", value="Submit").button

  .spacer

  include components/app-bar.pug

