extends base.pug

block body
  h1 Symbols

  .spacer

  h2 Post
  hr

  .spacer

  article
    p.flex.f-jc.meta
      span.category #[strong Photgraphy] 001
      span.date 05.15.19 | #0203
    h1 The philosophical argument for working less (and wasting time)
    figure
      img(src="../images/post-image.jpg", alt="")
      figcaption This is a caption to credit the image, name the image, talk about the image, link out the image, etc.
    h2 The Inventive Joy of Leisure
    p When Russell talks about work in his essay, he is referring to the necessity of manual and bureaucratic labor that takes up most of our collective time, not work as self-expression.
    p He contends that our attachment of work to the concept of necessity is so strong that we don’t stop to think twice about what we are doing before we over-commit ourselves.
    p Work is, of course, a profound source of meaning for many. If you’re someone who respects your job and gets joy out of it, then why should you stop putting all you have into it?
    footer.container-625
      ul.tags-list
        li
          a(href="#") #Photography
        li
          a(href="#") #001
        li
          a(href="#") #May
        li
          a(href="#") #2019
        li
          a(href="#") #Working less
        li
          a(href="#") #Philosophy
        li
          a(href="#") #Leisure
        li
          a(href="#") #Writing
        li
          a(href="#") #Sunset
        li
          a(href="#") #Silhouette
