.category-card {
  background-color: #292825;
  border-radius: 5px;
  color: #999999;
  display: flex;
  flex-direction: column-reverse;
  font-family: $monospace;
  font-size: 0.75rem;
  margin: 1rem;
  padding: 0.75rem 1rem 0.5rem;
  text-transform: uppercase;
  transition: background-color .3s ease;
  will-change: background-color;
  &:hover {
    background-color: #302f2d;
  }
  a {
    color: inherit;
    text-decoration: none;
  }
  h3 {
    color: $white;
    font-family: 'ATC Arquette', Helvetica, Arial;
    font-size: 1.25rem;
    text-transform: none;
  }
  h3, p {
    margin-bottom: 0;
  }
}


// white bkgd, yellow tag
.category-card--most-recent {
  background-color: #fff;
  position: relative;
  &:before {
    background-color: #ffda48;
    border-radius: 5px 0 10px 0;
    color: #1f1e1a;
    content: "Most Recent";
    display: inline-block;
    font-family: $monospace;
    font-weight: bold;
    font-size: .5625rem;
    left: 0;
    letter-spacing: .63px;
    line-height: 1;
    padding: 4px 9px;
    position: absolute;
    text-transform: uppercase;
    top: 0;
  }
  h3 {
    color: #1f1e1a;
  }
  &:hover {
    background-color: #fff;
  }
}
