.post-form {
  margin-left: auto;
  margin-right: auto;
  max-width: 871px;
  padding: 66px 78px 75px;
  h3 {
    font-size: 1.5rem;
    margin-bottom: 34px;
  }
}

.post-content-fields {
  border: 1px solid $grey;
  border-radius: 4px;
  padding: 8px 12px;
  margin-bottom: 24px;
}
.post-title,
.post-content {
  border: none;
  margin-bottom: 0;
}

.post-title {
  font-size: 1.5rem;
  line-height: 1.3;
  padding-right: 30%;
}
