.post-card {
  border: 1px solid $grey-800;
  color: #999999;
  display: flex;
  font-family: $monospace;
  font-size: 0.75rem;
  padding: 16px 21px;
  text-decoration: none;
  text-transform: uppercase;
  img {
    margin-right: 1rem;
  }
  h3 {
    color: $white;
    font-family: 'ATC Arquette', Helvetica, Arial;
    font-size: 0.875rem;
    line-height: 1.125rem;
    margin-bottom: 0;
    text-transform: none;
  }
  p {
    margin-bottom: 0;
  }
  &:hover {
    background-color: $grey-200;
  }
}


// organism
li + li {
  .post-card {
    border-top: none;
  }
}
