@charset "UTF-8";
html {
  box-sizing: border-box; }

*:before, *:after {
  box-sizing: inherit; }

body {
  font-family: 'ATC Arquette', Helvetica, Arial;
  line-height: 1.75;
  margin: 0; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'ATC Arquette', Helvetica, Arial;
  font-weight: 500; }

h1 {
  font-size: 3.125rem;
  line-height: 1; }

h1, h2, h3, h4, h5, h6,
p, ul, ol {
  margin-top: 0; }

figure {
  margin: 0; }

img {
  max-width: 100%; }

svg {
  fill: currentColor; }

figure img {
  display: block; }

label {
  display: block;
  font-size: .625rem;
  font-weight: 600;
  letter-spacing: .9px;
  margin-bottom: 6px;
  text-transform: uppercase; }

input,
select,
button,
textarea {
  box-sizing: border-box;
  color: inherit;
  display: block;
  font-family: inherit;
  font-size: 1rem;
  line-height: 1.75;
  margin-bottom: 24px; }

input,
button,
textarea {
  border: 1px solid #d6d6d6;
  border-radius: 4px;
  padding: 8px 12px; }

input[type="submit"],
input[type="reset"],
button {
  font-size: 1.25rem;
  letter-spacing: 0.18px;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  border: none; }
  input[type="submit"]::-moz-focus-inner,
  input[type="reset"]::-moz-focus-inner,
  button::-moz-focus-inner {
    border: 0;
    padding: 0; }

hr {
  opacity: .3; }

kbd {
  background-color: #f2f2f2;
  border-radius: 3px;
  padding: 3px 9px; }

.layout-app {
  display: grid;
  grid-template-columns: 4.25rem 1fr;
  height: 100vh;
  overflow: hidden; }

.app-main {
  height: 100vh;
  overflow: scroll;
  transition: transform .3s ease; }
  .app-bar.is-active + .app-main {
    transform: translateX(336px); }

.section {
  padding: 0 1rem; }

.spacer {
  height: 4rem; }

.flex {
  display: flex; }

.items-center {
  align-items: center; }

.justify-between {
  justify-content: space-between; }

.f-jc {
  justify-content: space-between; }

.app-bar {
  display: flex;
  background-color: #fff;
  border-right: 1px solid #e6e6e6;
  max-width: 69px;
  height: 100vh;
  position: relative;
  transition: transform .3s ease; }
  .app-bar hr {
    border-color: #0D0C0B; }
  .app-bar.is-active {
    transform: translateX(336px); }

.app-title {
  font-size: 1rem;
  font-weight: 600;
  margin: auto;
  writing-mode: sideways-lr; }

.app-bar .app-nav {
  right: 100%;
  position: absolute;
  top: 0; }

.app-bar .keyboard-shortcuts {
  bottom: 0;
  left: 54px;
  opacity: 0;
  position: absolute;
  visibility: hidden;
  transition: opacity .3s ease, visibility .3s ease; }
  .app-bar .keyboard-shortcuts.is-active {
    opacity: 1;
    visibility: visible; }

.category-list__date {
  letter-spacing: 0.3px;
  margin-bottom: 0; }

.category-list__meta {
  display: flex;
  justify-content: end;
  position: relative; }
  .category-list__meta ul {
    background-color: #1F1E1A;
    border: 1px solid #0d0c0b;
    border-radius: 4px;
    list-style: none;
    padding: 9px 0;
    position: absolute;
    top: 25px;
    right: -10px;
    width: 115px; }
    .category-list__meta ul li {
      transition: background-color 0.3s ease; }
      .category-list__meta ul li:hover {
        background-color: #292825; }
    .category-list__meta ul a {
      display: block;
      color: #fff;
      font-family: "ATC Arquette";
      font-size: 1rem;
      line-height: 2rem;
      padding: 0 18px;
      text-decoration: none;
      text-transform: none; }

.category-list__extras {
  background-color: transparent;
  padding: 0 0 0 13px;
  margin: 0 0 0 5px;
  width: auto; }

.list--categories-list {
  padding-left: 16px;
  padding-right: 16px; }
  .list--categories-list ul {
    padding-left: 0; }
  .list--categories-list li {
    margin-bottom: 7px; }
    .list--categories-list li li {
      align-items: center;
      background-color: #292825;
      border-radius: 5px;
      display: flex;
      height: 44px;
      justify-content: space-between;
      padding: 4px 19px; }
      .list--categories-list li li:hover {
        background-color: #302f2d; }
      .list--categories-list li li.selected {
        background-color: #ffe448;
        color: #1F1E1A; }
  .list--categories-list strong {
    color: #656565;
    display: block;
    font-size: .5625rem;
    font-weight: 500;
    line-height: 15px;
    margin-bottom: 4px;
    padding-left: 20px; }
  .list--categories-list span {
    font-weight: 600;
    font-size: 0.75rem; }
    .list--categories-list span:nth-child(2) {
      font-family: "Roboto Mono";
      font-size: 1.375rem;
      font-weight: normal;
      color: #4a4945; }

.app-bar__button {
  background-color: transparent;
  left: 0;
  padding: 1rem 0;
  position: absolute;
  right: 0;
  transition: opacity 0.3s ease;
  width: 100%; }

.menu-button {
  opacity: 0.8;
  top: 0; }
  .menu-button:hover, .menu-button:focus {
    opacity: 1; }

.keyboard-button {
  bottom: 0;
  opacity: 0.2; }
  .keyboard-button:hover, .keyboard-button:focus {
    opacity: 0.8; }

.category-header {
  padding: 110px 21px 20px; }
  .category-header h2 {
    font-size: 1.625rem; }
  .category-header p {
    margin-bottom: 0; }

.category-header__description {
  display: none; }
  .category-header__description p + p {
    margin-top: 1rem; }
  .category-header__description.is-active {
    display: block; }

.category-header__description__toggle {
  align-items: center;
  background-color: transparent;
  display: inline-flex;
  height: 56px;
  justify-content: center;
  width: 56px; }

.app-nav, .app-nav__section {
  background-color: #1F1E1A;
  color: #fff;
  height: 100vh;
  overflow: scroll;
  width: 336px; }

.app-nav__section {
  position: relative;
  transition: transform .3s ease;
  z-index: 1; }
  .app-nav .app-nav__section:not(:first-of-type) {
    position: absolute;
    right: 100%;
    top: 0; }
    .app-nav .app-nav__section:not(:first-of-type).is-active {
      transform: translateX(336px); }

.app-nav__section__options {
  background-color: #292825;
  display: flex;
  height: 56px; }
  .app-nav__section__options button {
    background-color: transparent;
    border-radius: 0;
    margin-bottom: 0;
    padding: initial;
    width: 56px; }
    .app-nav__section__options button:first-child {
      border-right: 1px solid #1F1E1A;
      margin-right: auto; }
  .app-nav .app-nav__section__options {
    left: 0;
    position: sticky;
    top: 0;
    z-index: 100; }

.app-bar__filter__dropdown {
  margin-bottom: 0; }

/* class applies to select element itself, not a wrapper element */
.select-css {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #292825;
  /* note: bg image below uses 2 urls. The first is an svg data uri for the arrow icon, and the second is the gradient.
    for the icon, if you want to change the color, be sure to use `%23` instead of `#`, since it's a url. You can also swap in a different svg icon or an external image reference

  */
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='7' viewBox='0 0 11 7'%3E%3Cpolyline fill='none' stroke='%23999' stroke-width='2' points='248 25.973 252.406 30.379 256.893 25.893' transform='translate(-247 -25)'/%3E%3C/svg%3E"), linear-gradient(to bottom, #292825 0%, #292825 100%);
  background-repeat: no-repeat, repeat;
  /* arrow icon position (1em from the right, 50% vertical) , then gradient position*/
  background-position: right 1rem top 50%, 0 0;
  /* icon size, then gradient */
  background-size: .65rem auto, 100%;
  border: 1px solid #292825;
  border-left: 1px solid #1F1E1A;
  border-radius: 0;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  box-sizing: border-box;
  color: #999999;
  display: block;
  font-size: 11px;
  font-family: sans-serif;
  font-weight: 500;
  letter-spacing: 2.4px;
  line-height: 1.3;
  margin: 0;
  max-width: 100%;
  /* useful when width is set to anything other than 100% */
  padding: .6rem 1.4rem .5rem .8rem;
  text-transform: uppercase;
  width: 100%; }

/* Hide arrow icon in IE browsers */
.select-css::-ms-expand {
  display: none; }

/* Hover style */
.select-css:hover {
  border-color: #1F1E1A; }

/* Focus style */
.select-css:focus {
  border-color: #292825;
  /* It'd be nice to use -webkit-focus-ring-color here but it doesn't work on box-shadow */
  box-shadow: 0 0 1px 3px rgba(59, 153, 252, 0.7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #999999;
  outline: none; }

/* Set options to normal weight */
.select-css option {
  font-weight: normal;
  font-size: 1rem; }

/* Support for rtl text, explicit support for Arabic and Hebrew */
*[dir="rtl"] .select-css, :root:lang(ar) .select-css, :root:lang(iw) .select-css {
  background-position: left .7rem top 50%, 0 0;
  padding: .6rem .8rem .5rem 1.4rem; }

/* Disabled styles */
.select-css:disabled, .select-css[aria-disabled=true] {
  color: graytext;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22graytext%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"), linear-gradient(to bottom, #292825 0%, #292825 100%); }

.select-css:disabled:hover, .select-css[aria-disabled=true] {
  border-color: #aaa; }

.button {
  background-color: #ffda48; }

.button-1 {
  font-family: "Roboto Mono";
  font-size: 12px;
  color: #787875;
  letter-spacing: 0;
  padding: 8px; }

.card-extras {
  align-items: center;
  color: #999999;
  display: flex;
  font-family: "Roboto Mono";
  font-size: 0.75rem;
  justify-content: flex-end;
  letter-spacing: 1.76px;
  text-decoration: none;
  text-transform: uppercase;
  padding-right: 4px; }
  .card-extras p {
    margin-bottom: 0; }
  .card-extras button {
    background-color: transparent;
    margin: 0 0 0 5px;
    padding: 8px 12px; }
  .card-extras ul {
    background-color: #1F1E1A;
    border: 1px solid #080706;
    border-radius: 4px;
    list-style: none;
    margin: 0;
    min-width: 117px;
    opacity: 0;
    padding: 8px 0;
    position: absolute;
    right: 0;
    top: 100%;
    visibility: hidden;
    transition: opacity .3s ease, visibility .3s ease; }
    .card-extras ul button {
      color: #fff;
      display: block;
      font-family: "ATC Arquette";
      font-size: 1rem;
      margin: 0;
      padding: 2px 12px;
      text-align: left;
      width: 100%; }
      .card-extras ul button:hover {
        background-color: #292825; }
  .card-extras.is-active ul {
    opacity: 1;
    visibility: visible; }

.category-card {
  background-color: #292825;
  border-radius: 5px;
  color: #999999;
  display: flex;
  flex-direction: column-reverse;
  font-family: "Roboto Mono";
  font-size: 0.75rem;
  margin: 1rem;
  padding: 0.75rem 1rem 0.5rem;
  position: relative;
  text-transform: uppercase;
  transition: background-color .3s ease;
  will-change: background-color; }
  .category-card:hover {
    background-color: #302f2d; }
  .category-card .card-extras {
    position: absolute;
    top: 0;
    right: 0; }

.category-card__content {
  color: inherit;
  padding-top: 24px;
  text-decoration: none; }
  .category-card__content h3, .category-card__content p {
    margin-bottom: 0; }
  .category-card__content h3 {
    color: #fff;
    font-size: 1.25rem;
    text-transform: none; }
  .category-card__content p {
    line-height: 1; }

.category-card--most-recent {
  background-color: #fff;
  position: relative; }
  .category-card--most-recent:before {
    background-color: #ffda48;
    border-radius: 5px 0 10px 0;
    color: #1f1e1a;
    content: "Most Recent";
    display: inline-block;
    font-family: "Roboto Mono";
    font-weight: bold;
    font-size: .5625rem;
    left: 0;
    letter-spacing: .63px;
    line-height: 1;
    padding: 4px 9px;
    position: absolute;
    text-transform: uppercase;
    top: 0; }
  .category-card--most-recent h3 {
    color: #1f1e1a; }
  .category-card--most-recent:hover {
    background-color: #fff; }

.keyboard-shortcuts {
  align-items: stretch;
  background: #fff;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 24px;
  padding: 0 20px;
  width: 359px; }
  .keyboard-shortcuts dt, .keyboard-shortcuts dd {
    border-bottom: 1px solid #e8e8e8;
    flex: 50%;
    line-height: 3.25rem; }
    .keyboard-shortcuts dt:last-child, .keyboard-shortcuts dd:last-child {
      border-bottom: none; }
  .keyboard-shortcuts dt {
    font-weight: 500; }
  .keyboard-shortcuts dd {
    margin-left: 0; }

.post-form {
  margin-left: auto;
  margin-right: auto;
  max-width: 871px;
  padding: 66px 78px 75px; }
  .post-form h3 {
    font-size: 1.5rem;
    margin-bottom: 34px; }

.post-content-fields {
  border: 1px solid #d6d6d6;
  border-radius: 4px;
  padding: 8px 12px;
  margin-bottom: 24px; }

.post-title,
.post-content {
  border: none;
  margin-bottom: 0; }

.post-title {
  font-size: 1.5rem;
  line-height: 1.3;
  padding-right: 30%; }

.post h2,
.post h3,
.post h4,
.post h5,
.post h6,
.post p,
.post figcaption {
  max-width: 625px;
  margin-left: auto;
  margin-right: auto; }

.post h1 {
  font-size: 4.5rem;
  line-height: 1.083;
  max-width: 620px;
  padding-right: 1.25rem;
  margin: 32px auto 68px; }

.post h2 {
  font-size: 1.5rem;
  letter-spacing: 0.2px;
  margin-bottom: 22px; }

.post p {
  margin-bottom: 28px; }

.post figcaption {
  font-size: .8125rem;
  color: #999e9e;
  margin-top: 8px;
  margin-bottom: 49px; }

.post footer:before {
  content: "—";
  display: block;
  margin-bottom: 22px; }

.post .meta {
  max-width: 620px;
  margin: 4rem auto 2rem; }

.container-625 {
  max-width: 625px;
  margin-left: auto;
  margin-right: auto; }

.category {
  color: #999e9e;
  display: inline-block;
  font-size: 0.75rem;
  letter-spacing: 1.6px;
  line-height: 2.333;
  text-transform: uppercase; }
  .category > strong {
    color: #1f1e1a; }

.date {
  color: #999e9e;
  display: inline-block;
  font-family: "Roboto Mono", Courier, monospace;
  font-size: 0.75rem;
  line-height: 2.333; }

.tags-list {
  color: #999e9e;
  font-size: .75rem;
  letter-spacing: 1.6px;
  list-style: none;
  margin-bottom: 50px;
  padding-left: 0; }
  .tags-list li {
    display: inline-block;
    margin-right: 0.5rem; }
    .tags-list li:after {
      content: ","; }
    .tags-list li:last-child:after {
      content: none; }
  .tags-list a {
    color: inherit;
    font-family: "Roboto Mono", Courier, monospace;
    text-decoration: none;
    text-transform: uppercase;
    transition: opacity .3s ease;
    opacity: 0.7; }
    .tags-list a:hover {
      opacity: 1; }

.post-card {
  border: 1px solid #080706;
  padding: 16px 21px;
  position: relative;
  transition: background-color .3s ease; }
  .post-card .card-extras {
    position: absolute;
    top: 0;
    right: 0; }
  .post-card:hover {
    background-color: #292825; }

.post-card__content {
  color: #999999;
  display: flex;
  font-family: "Roboto Mono";
  font-size: 0.75rem;
  text-decoration: none;
  text-transform: uppercase; }
  .post-card__content img {
    display: block;
    height: auto;
    margin-right: 1rem;
    width: 80px; }
  .post-card__content div {
    display: flex;
    flex: 1;
    flex-direction: column-reverse; }
  .post-card__content h3 {
    color: #fff;
    font-size: 0.875rem;
    line-height: 1.125rem;
    margin-bottom: 0;
    text-transform: none; }
  .post-card__content p {
    margin-bottom: 0; }

li + li .post-card {
  border-top: none; }

.show-for-sr {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important; }

.pa2 {
  padding: 8px; }

.pa3 {
  padding: 16px; }

.pv2 {
  padding-top: 8px;
  padding-bottom: 8px; }

.pv3 {
  padding-top: 16px;
  padding-bottom: 16px; }

.ph3 {
  padding-left: 16px;
  padding-right: 16px; }

.pt3 {
  padding-top: 16px; }

.pb2 {
  padding-bottom: 8px; }

.mb0 {
  margin-bottom: 0; }

.meta {
  font-family: "Roboto Mono";
  font-size: 0.75rem;
  text-transform: uppercase;
  color: #999999; }

.title-1 {
  font-family: "Roboto Mono";
  font-weight: 500;
  font-size: 13px;
  color: #4F4D48;
  letter-spacing: 0;
  text-transform: uppercase; }

.title-2 {
  font-weight: 600;
  font-size: 0.75rem; }

.bg-grey {
  background-color: #999e9e; }

.bg-grey-200 {
  background-color: #292825; }

.bg-grey-400 {
  background-color: #1F1E1A; }

.bg-grey-600 {
  background-color: #141411; }

.bg-grey-800 {
  background-color: #080706; }

.white {
  color: #fff; }

.list {
  list-style: none;
  margin: 0;
  padding: 0; }
